DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/db_name

JWT_SECRET_KEY=deepdeepbar_super_secret_key
JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_DAYS=7

DISCORD_API_TIMEOUT_SECONDS=5
DISCORD_APPLICATION_ID=
DISCORD_PUBLIC_KEY=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_ORDER_CHANNEL_ID=
